*{
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.caja-1{
  position: relative;
  width: 90%;
  background-color: white;
  border: solid 1px;
  margin: 2% auto;
  padding: 0 3%;
}
.barra{
  width: 10%;
  height: 5px;
  background-color: black;
}
.imgContainer{
}
.coder{
  width: 25%;
  height: 25%;
  display: inline-block;
  margin: 4% 4%;
  position: relative;
}
.img-coder{
  width: 100%;
}
.span-coder{
  position: absolute;
  color: white;
  bottom: 3%;
  right: 2%;


}
