*{
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.caja-1{
  position: relative;
  width: 90%;
  background-color: white;
  border: solid 1px;
  margin: 2% auto;
  padding: 0 3%;
}
.barra{
  width: 10%;
  height: 5px;
  background-color: black;
}
.imgContainer{
}
.coder{
  width: 25%;
  height: 25%;
  display: inline-block;
  margin: 3% 7% 2% 0;
  position: relative;
}
.img-coder{
  width: 100%;
  filter: brightness(80%);
  opacity: .7;
}
.img-coder:hover{
  opacity: 1;
}
.span-coder{
  position: absolute;
  color: white;
  bottom: 3%;
  right: 2%;
  text-shadow: 1px 1px #000;

}
